# ignore all folder in this directory

wp-content/plugins/akismet/
wp-content/plugins/code-snippets/
wp-content/plugins/elementor/
wp-content/plugins/elementor-pro/
wp-content/plugins/formidable/
wp-content/plugins/forminator/
wp-content/plugins/if-menu/
wp-content/plugins/otp-login/
wp-content/plugins/woocommerce/
wp-content/plugins/woo-paystack/
wp-content/plugins/woo-wallet/
wp-content/plugins/wp-mail-smtp/




wp-content/themes/astra/
wp-content/themes/responsive/
wp-content/themes/twentytwentyone/
wp-content/themes/twentytwentytwo/
wp-content/themes/twentytwentythree/


wp-content/cache/

wp-content/uploads/

# Files to ignor

.env

wp-config.php
